<a href="https://colab.research.google.com/github/1021114Carlos/ocw_mit_courses/blob/manufacturing_shop/FMF%201/Lectures/Assignments/FMF_Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

_to find state prices_


$P = Φ_1x_1 + Φ_2x_2$

In [1]:
import numpy as np

In [7]:
# Asset A = 1.40    States 1 and 2 payoff = 1.70, 1.10
# Asset B = 1.60    States 1 and 2 payoff = 1.30, 1.90
# are are the state prices, meaning finding phi

asset_A_B_payoffs = np.array([[1.70, 1.10], [1.30, 1.90]])
price_assets_A_B = np.array([1.40, 1.60])

state_prices_A_B =  np.linalg.solve(asset_A_B_payoffs, price_assets_A_B)
print(state_prices_A_B)

[0.5 0.5]

In [8]:
# Asset C payoffs State 1 and 2: 7.00,  9.50
# What is the price
p = 0.5*7.00 + 0.5*9.5
print(p)

8.25

_present value_

$PV = FV÷{(1 + R)}$

In [26]:
# 1.90 in Millions
# various years
# Discount rate from the market is 3%

68960.45655517663

In [16]:
# 5 years
pv = 1900000/(1 + (3/100))**5
pv

1638956.6903299114

In [19]:
# 10 years
pv = 1900000/(1 + (3/100))**10
pv

1413778.4383037775

In [18]:
# 50 years
pv = 1900000/(1 + 0.03)**50
pv

433403.4516005316

In [ ]:
# Now the discount rate is 7%
# 1.9 millions
# in years

In [20]:
pv = 1900000/(1 + (7/100))**5
pv

1354673.7410189696

In [21]:
pv = 1900000/(1 + (7/100))**10
pv

965863.6550559634

In [22]:
pv = 1900000/(1 + (7/100))**50
pv

64500.74289348118

_Future Value_

$fv = pv(1 + r)^t$

In [ ]:
# year was 1626 and purchased Manhattan for $24.00
# current year 2020

# suppose the $24 would have been invested instead.
# interest rate 5%

In [31]:
# Value of of $24 in year 2020
time = 2020 - 1626
print(time)
pv = 24
r = 1 + (5/100)

394

In [32]:
fv = pv*r**time
fv

5355438979.43367

In [ ]:
# now interest rate is 6%

In [33]:
r = 1 + (6/100)

In [35]:
fv = pv*r**time
fv

224244683837.58118

In [ ]:
# Now interest rate is 7%

In [39]:
r = 1 + (7/100)
print(r)

1.07

In [40]:
fv = pv*r**time
fv

9066082143624.828

In [41]:
# Sales of 6 Millions for the last fiscal year
# Sales growth at 6% in real terms for the next 3 years
# Inflation is 3% per year
# Appropriate nominal discount rate is 13%

100.0

In [53]:
# Expected sales revenue for the next 3 years, in nominal terms
# sales 6 million


revenue = 6000000
realtermGrowth = 6/100
inflation = 3/100

year_1 = revenue*(1 + realtermGrowth)*(1 + inflation)
year_1

6550800.0

In [55]:
year_2 = revenue*((1 + realtermGrowth)*(1 + inflation))**2
year_2

7152163.440000001

In [56]:
# year 3

year_3 = revenue*((1 + realtermGrowth)*(1 + inflation))**3
year_3

7808732.043792003

In [49]:
year2 = revenue*((1 + realtermGrowth)*(1 + inflation))**2
year2

12858927.840000004